@use "variables.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: variables.$primary-font;
  background-color: variables.$body-bg-color;

  a,
  svg {
    transition: 0.4s;
  }
}
