@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700;800&display=swap");
$primary-font: "JetBrains Mono", monospace;
$text-color: #d9d9d9;
$text-color-secondary: #595959;
$body-bg-color: #0d0d0d;
$bg-color: #111;
$bg-color-secondary: #1d1d1d;
$container-border-radius: 10px;
$card-border-radius: 5px;
$gradient: linear-gradient(90deg, #731022 0%, #bf0b3b 100%);
